*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    background-image: linear-gradient(to left,#242424,#000000,#242424);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
   
}
.container-ball{
    position: relative;
    width:20px;
    height: 100px;
}
.ball{
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffff00;
    box-shadow: 0 0 16px #fffbdc;
    animation: bounce ease-in-out 1.5s infinite;
}

.balls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 100%;
}
.loading{
    color:#e8e6d8;
}


@keyframes bounce {
    from{
        top:0;
    }
    50%{
        top:calc(100% - 20px);
    }   
    to{
        top:0;
    }
}
